---
import Layout from "../layouts/Layout.astro";

import Carousel from "@components/Carousel.astro";
import Logo from "@components/Logo.astro";
import CardListNumber from "@components/CardListNumber.astro";
import ProjectCard from "@components/ProjectCard.astro";
import TextDecor from "@components/TextDecor.astro";

import gorazdLogo from "@assetsLocal/company/gorazd.svg";
import olimaxLogo from "@assetsLocal/company/olimax.svg";
import idea from "@assetsLocal/illustrations/bwink_edu_05_single_11.svg";
import design from "@assetsLocal/illustrations/design.svg";
import code from "@assetsLocal/illustrations/code.svg";
import launch from "@assetsLocal/illustrations/launch.svg";
import brand from "@assetsLocal/illustrations/bwink_msc_05_single_07.jpg";
import churchMockup from "@assetsLocal/mockups/church.svg";

import postgre from "@assetsLocal/logo/techstack/postgre.svg";
import typescript from "@assetsLocal/logo/techstack/Typescript.svg";
import wpf from "@assetsLocal/logo/techstack/WPF.svg";
import astro from "@assetsLocal/logo/techstack/astro.svg";
import aws from "@assetsLocal/logo/techstack/aws.svg";
import blazor from "@assetsLocal/logo/techstack/blazor.svg";
import gh from "@assetsLocal/logo/techstack/gh.svg";
import mysql from "@assetsLocal/logo/techstack/mysql.png";
import net from "@assetsLocal/logo/techstack/net.svg";
import react from "@assetsLocal/logo/techstack/react.svg";
import tailwind from "@assetsLocal/logo/techstack/tailwind.svg";
import tina from "@assetsLocal/logo/techstack/tina.svg";
import terraform from "@assetsLocal/logo/techstack/terraform.svg";
---

<Layout title="Home">
    <section id="home" class="content">
        <Carousel />
    </section>

    <section id="companies" class="content py-12">
        <div
            class="w-full flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:justify-around"
        >
            <Logo
                path={gorazdLogo.src}
                alt="CZŠ s MŠ sv. Gorazda Košice logo"
            />
            <Logo path={olimaxLogo.src} alt="Olimax logo" />
        </div>
    </section>

    <section id="process" class="content">
        <div
            class="flex flex-col-reverse lg:flex-row justify-between items-stretch w-full"
        >
            <div class="w-full lg:w-1/2 self-center">
                <h1 class="font-extrabold">
                    Od&nbsp;
                    <TextDecor text="návrhu" color="lime" />
                </h1>
                <h1 class="font-extrabold">
                    po&nbsp;
                    <TextDecor text="realizáciu" color="purple" />
                </h1>
                <div class="flex flex-col space-y-6 mt-12 w-full">
                    <CardListNumber
                        number="1"
                        icon={design.src}
                        bgColor="bg-lime"
                        textColor="text-dark"
                        title="UX/UI dizajn"
                        desc="Funkčný a dizajnový návrh webových stránok a aplikácií"
                    />
                    <CardListNumber
                        number="2"
                        icon={code.src}
                        bgColor="bg-dark"
                        textColor="text-white"
                        title="Tvorba strány / aplikácie"
                        desc="Realizácia a testovanie webový stránok a aplikácií"
                    />
                    <CardListNumber
                        number="3"
                        icon={launch.src}
                        bgColor="bg-purple"
                        textColor="text-dark"
                        title="Spustenie aplikácie"
                        desc="Nasadenie a udržiavanie webových stránok a aplikácií"
                    />
                </div>
            </div>
            <div class="hidden lg:block w-1/2 self-center">
                <img
                    src={idea.src}
                    alt="iluustration idea"
                    class="w-[90%] mr-0 ml-auto transform -scale-x-100"
                />
            </div>
        </div>
    </section>

    <section class="bg-dark text-white py-16">
        <div class="content">
            <h2 class="font-extrabold text-center">Projekty z našej dielne:</h2>
            <h2 class="font-extrabold text-center mt-4">
                <TextDecor text="Kreatívne" color="lime" />&nbsp;riešenia a
                inovácie
            </h2>

            <div class="flex flex-col space-y-8 mt-16">
                <ProjectCard
                    title="Cirkevná ZŠ s MŠ sv. Gorazda, Košice"
                    desc="Webová aplikácia, ktorá umožňuje kántorom v kostole zobrazovať na monitoroch texty aktuálnych piesní."
                    moreInfo="/"
                    image={churchMockup.src}
                    color="text-lime"
                    btn="button-lime"
                />
                <ProjectCard
                    title="ChurchApp"
                    desc="Webová aplikácia, ktorá umožňuje kántorom v kostole zobrazovať na monitoroch texty aktuálnych piesní."
                    moreInfo="/"
                    image={churchMockup.src}
                    color="text-purple"
                    btn="button-purple"
                />
                <ProjectCard
                    title="Olimax"
                    desc="Webová aplikácia, ktorá umožňuje kántorom v kostole zobrazovať na monitoroch texty aktuálnych piesní."
                    moreInfo="/"
                    image={churchMockup.src}
                    color="text-lime"
                    btn="button-lime"
                />
            </div>
            <!--
            <div class="flex flex-row justify-center mt-12">
                <a href="" class="font-extrabold animated-underline"
                    >Zobraziť všetky projekty</a
                >
            </div>
             -->
        </div>
    </section>

    <section id="techstack" class="content">
        <h2 class="font-bold my-8 max-w-sm">
            Technológie, s ktorými&nbsp;
            <TextDecor text="pracujeme" color="purple" />
        </h2>
        <div
            class="grid grid-cols-6 s:grid-cols-10 grid-rows-7 gap-4 lg:w-5/6 l:w-4/6 mx-auto"
        >
            <div
                class="col-span-2 row-span-2 col-start-5 row-start-1 s:col-start-4 s:row-start-1 tech-card-l"
            >
                <img src={postgre.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-1 col-start-3 s:col-start-7 tech-card-g"
            >
                <img src={typescript.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 s:col-span-1 row-span-1 col-start-5 row-start-7 s:col-start-6 s:row-start-2 tech-card-p"
            >
                <img src={wpf.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 row-start-3 col-start-5 s:col-start-8 s:row-start-2 tech-card-l"
            >
                <img src={gh.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-1 col-start-1 s:col-start-3 row-start-3 tech-card-d"
            >
                <img src={react.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 col-start-1 row-start-1 s:col-start-6 s:row-start-3 tech-card-l"
            >
                <img src={blazor.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 row-start-4 col-start-1 s:row-start-4 tech-card-g"
            >
                <img src={net.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 s:col-span-1 row-span-2 row-start-5 col-start-3 s:col-start-5 s:row-start-4 tech-card-d"
            >
                <img src={tina.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 row-start-7 col-start-3 s:col-start-9 s:row-start-4 tech-card-l"
            >
                <img src={mysql.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 row-start-2 col-start-3 s:row-start-5 tech-card-l"
            >
                <img src={aws.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-1 row-start-4 col-start-3 s:col-start-6 s:row-start-5 tech-card-l"
            >
                <img src={tailwind.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 s:col-span-1 row-span-2 row-start-5 col-start-5 s:col-start-8 s:row-start-5 tech-card-p"
            >
                <img src={astro.src} class="tech-card-image" />
            </div>
            <div
                class="col-span-2 row-span-2 col-start-1 s:col-start-5 row-start-6 tech-card-l"
            >
                <img src={terraform.src} class="tech-card-image" />
            </div>
        </div>
    </section>

    <section id="ideas" class="content pt-24">
        <h2 class="font-extrabold text-center">
            Máte&nbsp;
            <TextDecor text="nápad?" color="lime" />
        </h2>

        <div
            class="flex flex-col-reverse lg:flex-row justify-between items-stretch w-full"
        >
            <div class="w-full lg:w-1/3 self-center flex flex-col">
                <h2
                    class="text-center lg:text-left font-extrabold w-full lg:max-w-sm"
                >
                    Pomôžeme Vám ho
                    <TextDecor text="zrealizovať" color="purple" />
                </h2>
                <p class="mt-4 text-center lg:text-left">
                    Neváhajte nás kontaktovať na info@devity.sk
                </p>
                <button
                    class="w-max lg:w-[90%] mx-auto lg:ml-0 mt-12 button-lime"
                >
                    Napísať nám
                </button>
            </div>
            <div class="hidden lg:block w-1/2 self-center">
                <img
                    src={brand.src}
                    alt="iluustration idea"
                    class="w-[90%] mr-0 ml-auto"
                />
            </div>
        </div>
    </section>
</Layout>
