---
import Layout from "../layouts/Layout.astro";

import Carousel from "@components/Carousel.astro";
import Logo from "@components/Logo.astro";
import CardListNumber from "@components/CardListNumber.astro";

import gorazdLogo from "@assetsLocal/company/gorazd.svg";
import olimaxLogo from "@assetsLocal/company/olimax.svg";
import idea from "@assetsLocal/illustrations/bwink_edu_05_single_11.svg";
import design from "@assetsLocal/illustrations/design.svg";
import code from "@assetsLocal/illustrations/code.svg";
import launch from "@assetsLocal/illustrations/launch.svg";
import brand from "@assetsLocal/illustrations/bwink_msc_05_single_07.jpg";
---

<Layout title="Home">
    <Carousel />
    <div
        class="w-full flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:justify-around"
    >
        <Logo path={gorazdLogo.src} alt="CZŠ s MŠ sv. Gorazda Košice logo" />
        <Logo path={olimaxLogo.src} alt="Olimax logo" />
    </div>

    <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch w-full"
    >
        <div class="w-full lg:w-1/2 self-center">
            <h1 class="font-extrabold">Od návrhu</h1>
            <h1 class="font-extrabold">po realizáciu</h1>
            <div class="flex flex-col space-y-6 mt-12 w-full">
                <CardListNumber
                    number="1"
                    icon={design.src}
                    bgColor="bg-lime"
                    textColor="text-dark"
                    title="UX/UI dizajn"
                    desc="Funkčný a dizajnový návrh webových stránok a aplikácií"
                />
                <CardListNumber
                    number="2"
                    icon={code.src}
                    bgColor="bg-dark"
                    textColor="text-white"
                    title="Tvorba strány / aplikácie"
                    desc="Realizácia a testovanie webový stránok a aplikácií"
                />
                <CardListNumber
                    number="3"
                    icon={launch.src}
                    bgColor="bg-purple"
                    textColor="text-dark"
                    title="Spustenie aplikácie"
                    desc="Nasadenie a udržiavanie webových stránok a aplikácií"
                />
            </div>
        </div>
        <div class="hidden lg:block w-1/2 self-center">
            <img
                src={idea.src}
                alt="iluustration idea"
                class="w-[90%] mr-0 ml-auto transform -scale-x-100"
            />
        </div>
    </div>
</Layout>
